<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <section>
    <div>
      <div>
        <h2><%= user.name %> </h2>
        <p><%= user.email %> </p>
      </div>
    </div>

    <div>
      <form action="" method="post" class="userdetails">
        <h2>Account</h2>
        <label for="name">Name</label>
        <input type="text" name="name" id="" placeholder="<%= user.name %>" disabled>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="<%= user.username %>" disabled>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="<%= user.email %>" disabled>
        <label for="mobile">Contact Number</label>
        <input type="tel" name="mobile" placeholder="<%= user.mobile %>" disabled>
      </form>
    </div>
  </section>

  <script src="demo.js"></script>
</body>
</html>