<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <section class="userdetails">
    <div>
      <div>
        <h3><%= user.name %> </h3>
        <p><%= user.email %> </p>
      </div>
    </div>

    <div>
      <form action="/users/<%= user._id %>" class="userdetailsEdit">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px;">
          <h2>Account</h2>
          <span class="edit" style="cursor: pointer; text-decoration: underline;">Edit</span>
        </div>

        <div>
          <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="" value="<%= user.name %>" disabled>
          </div>
          <div class="name error"></div>

          <div>
            <label for="username">Username</label>
            <input type="text" name="username" value="<%= user.username %>" disabled>
          </div>      
          <div class="username error"></div>

          <div>
            <label for="email">Email</label>
            <input type="email" name="email" value="<%= user.email %>" disabled>
          </div>
          <div class="email error"></div>

          <div>
            <label for="mobile">Contact</label>
            <input type="tel" name="mobile" value="<%= user.mobile %>" disabled>
          </div>
          <div class="mobile error"></div>

          <div style="margin-top: 20px;">
            <h3>Social Profiles</h3>
          </div>

          <div>
            <label for="facebook">Facebook</label>
            <input type="text" name="facebook" value="<%= user.social_profile.facebook %>" disabled>
          </div>

          <div>
            <label for="instagram">Instagram</label>
            <input type="text" name="instagram" value="<%= user.social_profile.instagram %>" disabled>
          </div>

          <div>
            <label for="linkedin">LinkedIn</label>
            <input type="text" name="linkedin" value="<%= user.social_profile.linkedin %>" disabled>
          </div>

          <div>
            <label for="instagram">Github</label>
            <input type="text" name="github" value="<%= user.social_profile.github %>" disabled>
          </div>
        </div>

      </form>
    </div>
  </section>

  <script>
    const form = document.querySelector('form');

    const emailError = document.querySelector(".email.error");
      const nameError = document.querySelector(".name.error");
      const usernameError = document.querySelector(".username.error");
      const mobileError = document.querySelector(".mobile.error");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
            
      try {
        const res = await fetch("/users/<%= user._id %>", {
          method: "PATCH",
          body: JSON.stringify({
            name: form.name.value,
            username: form.username.value,
            email: form.email.value,
            mobile: form.mobile.value,
          }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          nameError.textContent = data.errors.name;
          usernameError.textContent = data.errors.username;
          emailError.textContent = data.errors.email;
          mobileError.textContent = data.errors.mobile;
        }
        if (data.user) {
          location.assign("/users");
        }
      } catch (err) {
        console.log(err);
      }
    });
    // User Details Edit/Update
    let userdetailsEdit = document.querySelector(".userdetailsEdit");
    let edit = document.querySelector(".edit");
    let editclass = userdetailsEdit.classList;
    
    edit.addEventListener("click", function () {
      let input = userdetailsEdit.querySelectorAll("input");
    
      let result = editclass.toggle("edit");
    
      if (result) {
        input.forEach((inp) => {
          inp.disabled = false;
        });
        const btn = document.createElement("input");
        btn.type = "submit";
        btn.value = "Update";
        btn.classList.add("updateUser");
        userdetailsEdit.appendChild(btn);
        edit.innerHTML = 'Back';
      } else {
        input.forEach((inp) => {
          inp.disabled = true;
        });
        let update = document.querySelector(".updateUser");
        update.parentElement.removeChild(update);
        edit.innerHTML =
          '<span class="edit" style="cursor: pointer; text-decoration: underline;">Edit</span>';
      }
    });

  </script>
  <script src="demo.js"></script>
</body>
</html>